div.ei_medicineView, div.ei_innermedicineView {
    text-align: center;
    padding: 10px;
}

div.ei_innercontainer {
    display: flex;
}

div.ei_innermedicineView {
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
}

#ei_medicineViewparent {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}